@font-face {
    font-family: Alstoria;
    src: url(./font/alstoria/Alstoria.ttf) format("truetype");
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eab0;
    padding: 20px;
    color: black;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
    color: black;
    font-weight: bold;
    font-family: Alstoria;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    color: white;
    background-color: black;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.8em;
  }
  
  .form {
    text-align: center;
    margin-bottom: 5px;
  }
  
  h1 {
    font-family: Alstoria;
    font-size: 3em;
    text-align: center;
    margin-top: 40px;
  }
 
  p {
    line-height: 3em;
    word-spacing: 0.3;
  }
  
button:hover {
    border-radius: 5px;
    color: #002E25;
    border-color: #002E25;
    background-color: azure;
    padding: 15px 20px;
    font-size: 1em;
    font-family: 'Century Gothic';
    font-weight: bold;
}

button{
    border-radius: 5px;
    color: azure;
    border-color: azure;
    background-color: #002E25;
    padding: 15px 20px;
    font-size: 1em;
    font-family: 'Century Gothic';
}